<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/book-search.css" />
  </head>
  <body>
    <div class="search-box">
      <input
        class="search-input"
        type="text"
        id="input"
        placeholder="Search book...."
      />
      <button class="search-btn" id="buttonId" type="submit">Search</button>

      <div class="search-output" id="output"></div>
    </div>

    <script src="/src/js/books-search.js" type="module"></script>
  </body>
</html>
