
<footer class="footer-advantages-content footer">
    <div class="container footer-subbox">
        <div class="footer-content">

            <a class="footer-item footer-logo" href="./index.html">Bookshelf </a>   
        </div>
        <div class="soc-footer-box">
            <p class="footer-paragraf">FOLLOW US ON SOCIAL MEDIA</p>
            <ul class="footer-soc">
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">
                        <svg fill="none" width="24" height="24" class="svg-footer">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">
                        <svg fill="none" width="24" height="24" class="svg-footer">
                            <use href="./images/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">
                        <svg fill="none" width="24" height="24" class="svg-footer">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-soc-item">
                    <a class="footer-soc-link" href="">
                        <svg fill="none" width="24" height="24" class="svg-footer">
                            <use href="./images/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-subscribe-container">
            <p class="footer-address-text">Subscribe to Our Newsletter</p>
            <form class="footer-form">
                <label class="footer-label" for="email">
                    <input class="footer-input" type="email" name="email" id="email" placeholder="E-mail" />
                </label>
                <button class="footer-form-btn" type="submit">
                    Subscribe
                    <svg class="footer-btn-icon" width="24" height="24">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</footer>