</html>
<footer class="footer-advantages-content footer">
  <div class="footer-subbox">
    <div class="footer-content">
      <a class="footer-item footer-logo" href="./index.html">Bookshelf </a>
      <h3 class="footer-contact">Contact Information</h3>
      <ul class="footer-contact-link">
        <li>
          <a class="footer-adress-link" href="mailto:info@bookshelf.com"
            >info@bookshelf.com</a
          >
        </li>
        <li>
          <a class="footer-adress-link" href="tel:+1234567890">123-456-7890</a>
        </li>
        <li>
          <a class="footer-adress-link" href="https://www.google.com/maps/"
            >123 Street, City, Country</a
          >
        </li>

      </ul>
    </div>
    <div class="soc-footer-box">
      <p class="footer-paragraf">FOLLOW US ON SOCIAL MEDIA</p>
      <ul class="footer-soc">
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://gmail.com/">
            <div class="footer-color">
              <svg fill="none" class="svg-footer">
                <use href="./img/sprite.svg#icon-mail"></use>
              </svg>
            </div>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://twitter.com/goITclub">
            <svg fill="none" class="svg-footer">
              <use href="./img/sprite.svg#icon-twitterx"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://www.facebook.com/goITclub/">
            <svg fill="none" class="svg-footer">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-item">
          <a class="footer-soc-link" href="https://www.instagram.com/goitclub/">
            <svg fill="none" class="svg-footer">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-subscribe-container">
      <p class="footer-address-text">Subscribe to Our Newsletter</p>
      <form class="footer-form feedback-form">
        <label class="footer-label" for="email">
          <input
            class="footer-input"
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
          />
        </label>
        <button class="footer-form-btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</footer>
