<header>
  <div class="header-navigation">
    <a href="../index.html" class="header-logo"
      ><img src="../img/logo.svg" class="logo-icon"
    /></a>
    <nav>
      <ul class="navigation-list">
        <li>
          <a
            href=""
            class="navigation-list-item desktop-and-tablet-visible visually-hidden"
            >HOME</a
          >
        </li>
        <li>
          <a
            href="./shopping_list.html"
            class="navigation-list-item desktop-and-tablet-visible visually-hidden"
            >SHOPPING LIST<img src="../img/lock-icon.svg" class="navigation-list-icon"></a
          >
        </li>
      </ul>
    </nav>

    <div class="toggle-container">
      <input type="checkbox" class="theme-toggle" />
    </div>

    <button class="modal-open header-sign-up">Sign-up<img src="../img/arrow-right.svg"></button>

    <button type="button" class="menu-button js-toggle-mobile-menu">
      <svg width="28px" height="28px" fill="var(--text-color-primary)">
        <use href="../img/" class="menu-button-icon"></use>
        <use href="../img/align-left (1).svg" class="menu-button-icon"></use>
      </svg>
    </button>
  </div>
</header>
<div class="mobile-menu">

  <button class="mobile-sign-up">Sign up<img src="../img/arrow-right.svg"></button>
<div class="mobile-navigation-container">
    <ul class="mobile-navigation-list">
      <li><a href="/" class="navigation-list-item visually-hidden mobile-navigation-list-item">HOME</a></li>
      <li><a href="/src/partials/shopping_list.html" class="navigation-list-item visually-hidden mobile-navigation-list-item">SHOPPING LIST <img
            src="../img/lock-icon.svg" class="mobile-navigation-list-icon"></a></li>
    </ul>
</div>
  <button class="mobile-log-out-button visually-hidden">Log out<img src="../img/arrow-right.svg" class="log-out-icon" /></button>
  <img src="../img/mobile-menu-background.png" class="mobile-background-image">
</div>

