<header>
  <a href="../index.html"><img src="">Bookshelf</a>
  <nav>
    <ul class="navigation-list">
      <li><a href="" class="navigation-list-item hidden">HOME</a></li>
      <li><a href="" class="navigation-list-item hidden">SHOPPING LIST</a>
      </li>
    </ul>
  </nav>
  <input type="checkbox">
  <button class="modal-open">Sign-up</button>
  <button class="toggle-mobile-menu">Burger</button>

  <div class="mobile-menu visually-hidden">
    <button class="mobile-sign-up">Sign-up</button>
    <ul class="navigation-list">
      <li><a href="" class="navigation-list-item hidden">HOME</a></li>
      <li><a href="" class="navigation-list-item hidden">SHOPPING LIST</a></li>
    </ul>
    <button class="mobile-log-out-button hidden">Log out <img src=""></button>
  </div>
</header>