<div class="modal-backdrop visually-hidden">
  <div class="modal-window">
    <button class="modal-close">
      <svg class="modal-close-icon">
        <use href="./img/sprite.svg#icon-x-close"/>
      </svg>
    </button>
    <form class="sign-up-form" autocomplete="off">
      <div class="login-field-container">
        <label class="login-field-label" for="login-name">NAME</label>
        <input type="text" name="name" id="login-name" class="login-field" />
      </div>

      <div class="login-field-container">
        <label class="login-field-label" for="login-email"
          >EMAIL<svg class="login-field-icon login-field-icon_email">
            <use href="./img/sprite.svg#icon-mail-login"/></svg></label>
        <input type="email" name="email" id="login-email" class="login-field" />
      </div>

      <div class="login-field-container">
        <label class="login-field-label" for="login-password"
          >PASSWORD<svg class="login-field-icon login-field-icon_password">
            <use href="./img/sprite.svg#icon-lock-login"/></svg></label>
        <input
          type="password"
          name="password"
          id="login-password"
          class="login-field"
        />
      </div>

      <button type="submit" class="login-submit">SIGN UP</button>
    </form>
  </div>
</div>
