<div class="modal-backdrop visually-hidden">
    <div class="modal-window">
        <button class="modal-close">
            <svg href="../img/x-close.svg"></svg>
        </button>
        <form class="sign-up-form" autocomplete="off">
<div class="login-field-container">
                <label class="login-field-label" for="name">NAME</label>
                <input type="text" name="name" id="name" class="login-field">
</div>
            
<div class="login-field-container">
                <label class="login-field-label" for="email">EMAIL</label>
                <input type="email" name="email" id="email" class="login-field" />
</div>
           
<div class="login-field-container">
                <label class="login-field-label" for="password">PASSWORD</label>
                <input type="password" name="password" id="password" class="login-field" >
</div>

           
            <button type="submit" class="login-submit">SIGN UP</button>
        </form>
        <button class="log-out-button hidden">Log out <img src=""></button>
    </div>
</div>