<div class="modal-backdrop visually-hidden">
    <div class="modal-window">
        <button class="modal-close">
            <!-- <img src="./img/x-close.svg" alt=""> -->
            <svg><use href="./img/x-close.svg" height="10px" width="10px"></svg>
        </button>
        <form class="sign-up-form" autocomplete="off">
<div class="login-field-container">
                <label class="login-field-label" for="login-name">NAME</label>
                <input type="text" name="name" id="login-name" class="login-field">
</div>
            
<div class="login-field-container">
                <label class="login-field-label" for="login-email">EMAIL</label>
                <input type="email" name="email" id="login-email" class="login-field" />
</div>
           
<div class="login-field-container">
                <label class="login-field-label" for="login-password">PASSWORD</label>
                <input type="password" name="password" id="login-password" class="login-field" >
</div>

           
            <button type="submit" class="login-submit">SIGN UP</button>
        </form>
        <button class="log-out-button hidden">Log out <img src=""></button>
    </div>
</div>