<div class="modal-backdrop visually-hidden">
    <div class="modal-window">
        <button class="modal-close">Close</button>
        <form class="sign-up-form" autocomplete="off">
            <label class="name">
                NAME
                <input type="text" name="name" autofocus>
            </label>
            <label class="email">
                EMAIL
                <input type="email" name="email" />
            </label>
            <label class="password-field">
                PASSWORD
                <input type="password" name="password">

            </label>
            <button type="submit">Submit</button>
        </form>
        <button class="log-out-button hidden">Log out <img src=""></button>
    </div>
</div>