 <div class="container">
    <div>
        <h2 class="donate-title">Support Ukraine</h2>
        <svg width="20" height="32">
            <use href="./img/support-ukraine.svg#icon-tryzub"></use>
        </svg>
    </div>
    <div>
        <ul class="donate-list"></ul>
    </div>
    <div>
        <button type="button" class="button-down">
            <svg class="icon-arrow-down" width="22" height="22">
                <use href="./img/support-ukraine.svg#icon-arrow-down"></use>
            </svg>
        </button>
    </div>
    <div>
        <button type="button" class="butoon-up">
            <svg class="icon-arrow-up" width="22" height="22">
                <use href="./img/support-ukraine.svg#icon-arrow-up"></use>
            </svg>
        </button>
    </div>
 </div>




