.search-box {
  display: block;
  border-radius: 16px;
  border-radius: 16px;
  width: 295px;
  height: 474px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #f6f6f6;
  border: 1px solid var(--buttons-and-background-main);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  border: 2px solid var(--buttons-and-background-main);
  border-radius: 40px;
  width: 250px;
  height: 40px;
  padding-top: auto;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: var(--text-color-primary);
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
}

.search-output {
  font-size: 15px;
  color: rgba(17, 17, 17, 0.6);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-btn {
  border: 1px solid var(--text-color-primary);
  border-radius: 18px;
  width: 184px;
  height: 48px;
  background: var(--buttons-and-background-main);
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-bottom: 10px;
}

.search-btn:hover,
.search-btn:focus {
  background-color: var(--background-light);
  color: var(--text-color-primary);
}

.loader {
  display: none;
  width: 100%;
  height: 8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.15);
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.25) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    transparent 75%,
    transparent
  );
  background-size: 15px 15px;
  z-index: 10;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  width: 0%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 0 4px 4px 0;
  top: 0;
  left: 0;
  animation: animFw 10s ease-in infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.books-search-cover {
  width: 260px;
}

.book-search-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search-box {
    max-width: 335px;
    height: 460px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .search-box {
    width: 704px;
    height: auto;
    margin: 50px auto 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .search-box {
    margin-top: 100px;
    width: 295px;
    margin-right: 67px;
  }
  .search-input {
    width: 250px;
  }
}
body.dark .search-box {
  background-color: inherit;
}
body.dark .search-box button:hover {
  color: rgb(17, 17, 17);
  border-color: var(--buttons-and-background-main);
}

body.dark .search-output {
  color: #b4afaf;
}

body.dark .book-search-title {
  color: rgb(255, 255, 255);
}
