:root,
.footer,
.search-box {
  background-color: rgb(32, 32, 36);
}

.header-navigation {
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 0px 0px 8px 8px;
  background: rgb(17, 17, 17);
  color: rgb(243, 243, 243);
}

.modal-window,
.login-field,
.js-btn-books,
.top-books-btn {
  background: rgb(32, 32, 36);
  color: var(--text-color-secondary);
}

.login-field-label {
  color: rgb(246, 246, 246);
}

.login-submit {
  color: var(--text-color-primary);
  background-color: var(--text-color-secondary);
}
.title,
.top-book-title,
.js-btn-books,
.book-title,
.book-description,
#addBtn,
.footer-logo,
.footer-paragraf,
.footer-address-text,
.footer-form-btn,
.top-books-btn,
.books-list h2,
.title-category-page,
.shopping-list-title,
.shl-bookname-category h4,
.shl-book-description,
.item-modal .book-description,
.footer-contact {
  color: rgb(255, 255, 255);
}
.top-category-name,
.top-book-author,
.book-author,
.footer-adress-link,
.footer-input::placeholder,
.search-output,
.books-list p {
  color: rgb(180, 175, 175);
}

.item-modal {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(32, 32, 36);
}

.booksIcon {
  filter: brightness(0) invert(1);
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.booksIconApple {
  filter: grayscale(100%);
}

.booksIcon:hover {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}
.search-btn:hover,
.search-btn:focus,
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: rgb(255, 255, 255);
  color: var(--buttons-and-background-main);
  border: 1px solid var(--buttons-and-background-main);
}
.search-input {
  border-color: var(--buttons-and-background-main);
  outline: none;
}
.logo-word,
.shopping-list-icon {
  stroke: transparent;
  fill: rgb(255, 255, 255);
}
.modal-close-icon {
  stroke: rgb(246, 246, 246);
}
/* .modal-open {
  border-color: rgb(17, 17, 17);
  color: rgb(17, 17, 17);
  background-color: rgb(255, 255, 255);
} */
.menu-button-icon_burger,
.menu-button-icon_close,
.menu-btn-icon {
  stroke: rgb(255, 255, 255);
}
.category-item {
  color: rgba(255, 255, 255, 0.6);
}
.active {
  color: rgb(234, 198, 69);
}
.item-modal p {
  color: rgba(255, 255, 255, 0.5);
}
.shl-pagination-block-list button:disabled {
  background-color: rgb(17, 17, 17);
  border-color: rgb(17, 17, 17);
}
.shl-pagination-button-list .shl-active {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.shl-pagination-block-list button {
  background-color: transparent;
  color: var(--text-color-secondary);
  border-color: rgb(255, 255, 255);
}
.titlecategory {
  color: rgb(79, 46, 232);
}

.categories_list {
  scrollbar-color: rgba(17, 17, 17, 0.6) rgb(32, 32, 36);
}
