.navigation-list {
  list-style-type: none;
}

.hidden {
  display: none;
}

.header-navigation {
  display: flex;
  border: 1.5px solid var(--text-color-primary);
  border-radius: 0 0 8px 8px;
  width: 375px;
  height: 64px;
  background: var(--background-light);
  margin-right: auto;
  margin-left: auto;
  gap: 0px;
  justify-content: center;
}

.header-logo {
  @media screen and (max-width: 767px) {
    margin: 18px 144px 18px 20px;
    width: 109px;
    height: 28px;
  }
}

.modal-open {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-list-item {
  @media screen and (max-width: 767px) {
    &.desktop-and-tablet-visible {
      display: none;
    }
  }
}

.theme-toggle {
  height: 24px;
  width: 40px;
  margin: 20px 14px 20px 0px;
}

.toggle-mobile-menu {
  width: 28px;
  height: 28px;
  margin: 18px 20px 18px 0px;
}
