.navigation-list {
  list-style-type: none;
}

.hidden {
  display: none;
}

.header-navigation {
  display: flex;
  border: 1.5px solid var(--text-color-primary);
  border-radius: 0 0 8px 8px;
  width: 375px;
  height: 64px;
  background: var(--background-light);
  margin-right: auto;
  margin-left: auto;
  gap: 0px;
  justify-content: center;
  color: var(--text-color-primary);
}

.header-logo {
  @media screen and (max-width: 767px) {
    margin: 18px 144px 18px 20px;
    width: 109px;
    height: 28px;
  }
}

.modal-open {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-list-item {
  @media screen and (max-width: 767px) {
    &.desktop-and-tablet-visible {
      display: none;
    }
  }
}

.theme-toggle {
  height: 24px;
  width: 40px;
  margin: 20px 14px 20px 0px;
}

.toggle-mobile-menu {
  width: 28px;
  height: 28px;
  margin: 18px 20px 18px 0px;
  background-color: transparent;
  border: none;
}

.menu-button {
  background-color: transparent;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  border: none;
  z-index: 100;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-icon {
  z-index: 1000000;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button__cross {
  display: none;
  fill: currentColor;
}
.menu-button__menu {
  fill: currentColor;
}
.menu-button:hover,
.menu-button:focus {
  color: #2196f3;
}
.menu-button.is-open .menu-button__cross {
  display: block;
}
.menu-button.is-open .menu-button__menu {
  display: none;
}
.menu-button.is-open .logo {
  z-index: -1;
}
