/* .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 60px 0;

  background-color: #e17992;

  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  }
} */

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  z-index: 100;
  background-image: url(../img/mobile-menu-background.png);
}

.mobile-sign-up {
  color: var(--text-color-secondary);
  border: 1.5px solid #111;
  border-radius: 18px;
  width: 184px;
  height: 48px;
  background-color: var(--buttons-and-background-main);
  margin-top: 104px;
  margin-left: 20px;
  z-index: 100;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  padding: 0px 14px 0px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-sign-up:hover,
.mobile-sign-up:focus {
  border-color: var(--buttons-and-background-main);
  color: var(--text-color-primary);
  background-color: var(--background-light);
}

.mobile-sign-up:focus {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.15);
}

.mobile-background-image {
  position: fixed;
  bottom: 0;

  z-index: -10;
  right: 50%;
  transform: translateX(50%);
}

.mobile-background-image-desktop {
  position: fixed;
  bottom: 0;

  z-index: -10;
  right: 50%;
  transform: translateX(50%);
}

.user-profile {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-profile:hover,
.user-profile:focus {
  border-color: transparent;
  background-color: transparent;
  color: var(--text-color-secondary);
}

.user-icon-eclipse {
  border-radius: 50%;
  background-color: #f6f6f6;
  border: 1px solid var(--buttons-and-background-main);
  height: 37px;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

.mobile-log-out-button {
  border: 1.5px solid var(--text-color-primary);
  border-radius: 18px;
  width: 118px;
  height: 48px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: var(--text-color-primary);
  background-color: var(--background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .mobile-background-image {
    width: 100%;
    height: auto;
  }

  .mobile-background-image-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-background-image {
    display: none;
  }

  .mobile-background-image-desktop {
    display: block;
    height: 450px;
  }

  .mobile-log-out-button {
    width: 156px;
    justify-content: space-between;
    padding: 0px 14px 0px 14px;
  }

  .mobile-navigation-list-item {
    display: none;
  }

  .mobile-sign-up {
    display: none;
  }
}

@media screen and (max-width: 1439px) {
  .mobile-menu {
    right: 0;

    left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu {
    width: 1440px;
    right: 50%;
    transform: translateX(50%);
  }
}

.log-out-icon {
  margin-left: 7px;
}

.hidden-positioned {
  left: -999px;
}

.mobile-navigation-container {
  display: flex;
  justify-content: center;
  margin-top: 134px;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color-secondary);
}

.mobile-navigation-list-item {
  position: relative;
}

.mobile-navigation-list-icon {
  margin-left: 7px;
  position: absolute;
  top: 0;
  right: -27%;
}

.current-page {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */

  /* width: 72px; */
  /* height: 34px; */
  background-color: var(--buttons-and-background-secondary);
  border-radius: 36px;
  padding: 8px 16px;
  color: var(--text-color-primary);
}

.hidden {
  display: none;
}
