* {
  box-sizing: border-box;
}

.categories_list {
  width: 328px;
  height: 472px;
  outline: 1px solid red;
  overflow: auto;
  /* overflow: hidden;
  overflow: scroll; */
  margin-left: 14px;
}
.category-item {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
}
.category-item:nth-last-child(n + 2) {
  padding-bottom: 32px;
}

.active {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--buttons-and-background-main);
}
.title-category-page {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  /* color: var(--text-color-primary); */
  margin-bottom: 40px;
}
.titlecategory {

}
.selectedCategory {
}
.book {
  max-width: 180px;
  max-height: 306px;
}
.image_book {
  border-radius: 8px;
  width: 180px;
  height: 256px;
  margin-bottom: 14px;
}
.title_book {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color-primary);
  margin-bottom: 4px;
}
.test_book {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.books-list {
  max-width: 966px;
  display: grid;
  gap: 24px;
  cursor: pointer;
}
.box {
  display: flex;
  gap: 40px;
}
.box-in-box {
}
@media screen and (min-width: 375px) {
  .books-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .books-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .books-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
