/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./modal.css');
@import url('./modal-window.css');

:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-light: #fff;
  --text-color-primary: #111;
  --text-color-secondary: #fff;
  --background-dark: #202024;
  --buttons-and-background-main: #4f2ee8;
  --buttons-and-background-secondary: #eac645;

  --desktop-breakpoint: 1440px;
  --tablet-breakpoint: 768px;
  --mobile-breakpoint: 375px;
}
