.support-container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.donate-table {
  width: 335px;
  height: 460px;
  padding-top: 24px;
  padding-left: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
}

.donate-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.donate-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09091;
  letter-spacing: -0.04em;
  color: var(--background-light);
}

.icon-tryzub {
  fill: var(--background-light);
}

.donate-overflow {
  width: 170px;
  height: 292px;
  overflow: auto;
  scroll-behavior: smooth;
}

.donate-list {
  width: 159px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donate-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.donate-number {
  color: var(--background-light);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
}

.donate-img {
  height: 32px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

/*------------------SCROLL-----------------------*/

.donate-overflow::-webkit-scrollbar {
  width: 0%;
  background-color: transparent;
}

/*------------------BUTTONS-----------------------*/

.button-down {
  margin-top: 20px;
  width: 32px;
  height: 32px;
  background-color: var(--background-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-arrow-down {
  fill: var(--buttons-and-background-main);
}

.button-up {
  margin-top: 20px;
  width: 32px;
  height: 32px;
  background-color: var(--background-light);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-arrow-up {
  fill: var(--buttons-and-background-main);
}

@media screen and (max-width: 767px) {
  .support-container {
    height: 460px;
    width: 295px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }

  .donate-table {
    /* height: 474px; */
    width: auto;
    height: 436px;
  }

  .donate-overflow {
    width: 159px;
    height: 292px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .donate-table {
    height: 474px;
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .support-container {
    height: 450px;
    width: 295px;
    margin-left: 0;
    margin-right: auto;
    padding: 0;
  }

  .donate-table {
    /* height: 474px; */
    width: auto;
  }

  .donate-title {
    font-size: 24px;
    line-height: 1.16667;
  }

  .donate-overflow {
    width: 159px;
    height: 292px;
  }

  .button-down {
    margin-top: 24px;
    width: 38px;
    height: 38px;
  }
  .button-up {
    margin-top: 24px;
    width: 38px;
    height: 38px;
  }

  .icon-arrow-down {
    width: 22px;
    height: 22px;
  }

  .icon-arrow-up {
    width: 22px;
    height: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .support-container {
    margin-top: 86px;
  }

  .footer-subbox {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 1440px;
    justify-content: center;
    gap: 150px;
  }

  .footer-advantages-content {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
    width: 100%;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .soc-footer-box {
    margin: 0 80px 0 0;
    max-width: 208px;
  }

  .footer-content {
    margin: 0 120px 0 0;
    max-width: 264px;
    margin-right: 24px;
  }
}

.support-shopping-list {
  margin-top: 0px;
}

.donate-table-shopping-list {
  width: 335px;
}
